<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot name="ur5_robotiq85" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="ur5_robotiq85.srdf.xacro" />

  <disable_collisions link1="base_link" link2="box_link" reason="Adjacent" />
  <disable_collisions link1="box_link" link2="shoulder_link" reason="Never" />

</robot>
